<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akrwt.arogya">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.akrwt.docsapp.MySingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragments.DashboardFragment.Coronavirus.CountriesData"></activity>
        <activity android:name=".fragments.DashboardFragment.Coronavirus.CoronavirusActivity" />
        <activity android:name=".fragments.FeedbackActivity" />
        <activity android:name=".fragments.DashboardFragment.Impact.AccidentActivity" />
        <activity android:name=".fragments.DashboardFragment.Ambulance.AmbulanceActivity" />
        <activity android:name=".fragments.DoctorDetailsActivity" />
        <activity
            android:name=".MapsActivity"
            android:label="Map" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".fragments.DashboardFragment.Impact.AddFriendsActivity" />
        <activity android:name=".fragments.DashboardFragment.Impact.ImpactActivity" />
        <activity android:name=".menu.FatActivity" />
        <activity android:name=".menu.BMIActivity" />
        <activity android:name=".menu.BloodPressureActivity" />
        <activity android:name=".validation.UserInfoActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".validation.OtpVerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".validation.PhoneVerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>